
<div>
  <table class="isa-changetable" cellspacing="0" cellpadding="0" :border="true">
    <tr>
      <td>
        <p>设置支付时间</p>
      </td>
      <td>
        <input type="text" class="isa-change__input">分钟
      </td>
    </tr>
    <tr>
      <td>已选择去程</td>
      <td>
        SHA(上海虹桥) - TXN(黄山屯溪)
      </td>
    </tr>
    <tr>
      <td>
        <p>出发日期</p>
        <p>改签出发日期</p>
      </td>
      <td>
        <p>2018-08-30</p>
        <p>2018-09-31</p>
      </td>
    </tr>
    <tr>
      <td>改签航班</td>
      <td>
        <input type="text" class="isa-change__input" placeholder="请输入航班">
      </td>
    </tr>
    <tr>
      <td>改签乘客</td>
      <td></td>
    </tr>
    <tr>
      <td>支付金额</td>
      <td>
        <div>
          <p>
            改签费: <input type="text" class="isa-change__input" >元
          </p>
          <p>
            服务费: <input type="text" class="isa-change__input" >元
          </p>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2"></td>
    </tr>
  </table>
</div>