<div layout-margin="15px" class="logger">
  <header>
    <p>
      选择模板 (当前模板为: 日报)
    </p>
  </header>
  <div class="logger-container">
    <div>
      <el-radio label="1" border>日报</el-radio>
      <el-radio label="2" border>周报</el-radio>
      <el-radio label="3" border>月报</el-radio>
    </div>

    <el-form label-width="120px" class="logger-form">
      <el-form-item label="本周工作总结">
        <el-input type="textarea"></el-input>
      </el-form-item>

      <el-form-item label="本周心得体会">
        <el-input type="textarea"></el-input>
      </el-form-item>

      <el-form-item label="问题反馈">
        <el-input type="textarea"></el-input>
      </el-form-item>

      <el-form-item label="起止时间">
        <el-col :span="11">
          <el-date-picker type="date" placeholder="Pick a date"  style="width: 100%;"></el-date-picker>
        </el-col>
        <el-col :span="1" style="text-align: center">-</el-col>
        <el-col :span="11">
          <el-time-picker type="fixed-time" placeholder="Pick a time"  style="width: 100%;"></el-time-picker>
        </el-col>
      </el-form-item>

      <el-form-item label="上传附件">
        <el-upload
          class="upload-demo"
          ref="upload"
          action="https://jsonplaceholder.typicode.com/posts/"
          :auto-upload="false">
          <el-button slot="trigger" size="small" type="primary">选取文件</el-button>
          <el-button style="margin-left: 10px;" size="small" type="success" @click="submitUpload">上传到服务器</el-button>
          <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
        </el-upload>
      </el-form-item>
    </el-form>
  </div>
</div>