<div>
  <el-card class="table-searchBar">
    <form-builder :schema="schema" :model="model">
      <el-form-item slot="suffix">
        <el-button type="primary" @click="get_attendance_summary">查询</el-button>
      </el-form-item>
    </form-builder>
  </el-card>

  <el-card style="margin-top: 15px">
    <cp-summary :summaryList="summaryData" @tabClick="onTabClick"></cp-summary>
  </el-card>

  <el-card style="margin-top: 15px">
    <el-table :data="attendanceList">
      <el-table-column 
        v-for="(title, index) in attendanceService.titles" 
        :key="index"
        :label="title.label" 
        :prop="title.prop"></el-table-column>

        <el-table-column label="状态">
          <template slot-scope="scope">
            <el-tag>{{scope.row.status}}</el-tag>
          </template>
        </el-table-column>

        <el-table-column label="签到日期">
          <template slot-scope="scope">
            2018-09-10
          </template>
        </el-table-column>
        
    </el-table>
  </el-card>
</div>