<div>
  <el-card class="table-searchBar">
    <FormBuilder :schema="schema" :model="model">
      <el-form-item slot="suffix">
        <el-button type="primary" @click="get_internship_finish">查询</el-button>
      </el-form-item>
    </FormBuilder>
  </el-card>

  <el-card  style="margin-top: 15px;">
    <el-table :data="internshipFinishList">
      <el-table-column 
        :key="index"
        :label="title.label"
        :prop="title.prop"
        v-for="(title, index) in internshipService.finishTitles">
      </el-table-column>
      <el-table-column label="审核状态">
        <template slot-scope="scope">
          <el-tag>{{scope.row.approve_status}}</el-tag>
        </template>
      </el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button @click="before_approve(scope.row)" :disabled="scope.row.approve_status !== '未审核'" type="primary">审核</el-button>
        </template>
      </el-table-column>
    </el-table>
  </el-card>

  <el-dialog
    title="请选择审核状态"
    :visible.sync="dialogVisible"
    width="30%"
    >
    <el-select v-model="approve_status">
      <el-option label="通过" value="通过"></el-option>
      <el-option label="拒绝" value="拒绝"></el-option>
    </el-select>
    <span slot="footer" >
      <el-button @click="dialogVisible = false">取 消</el-button>
      <el-button type="primary" @click="approve">确 定</el-button>
    </span>
  </el-dialog>
</div>