@import './variables.scss';
@import './mixins.scss';
@import './layout.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  background-color: #EDEFF0;
}

html {
  box-sizing: border-box;
}

body li {
  list-style: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

div:focus{
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

a {
  color: #0F9DEA;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//main-container全局样式
.app-main{
  min-height: 100%
}

.app-container {
  padding: 20px;
}

.form-builder {
  .el-date-editor--date {
    width: 100%
  }

  .el-select {
    width: 100%;
  }
}

.table-searchBar {
  .el-form {
    display: flex;
    flex-wrap: wrap;
  }
  .el-form-item {
    margin-right: 5px;
  }
}
