<div class="cp-summary" layout layout-align="center center" layout-margin>
  <el-card 
    class="cp-summary__item" 
    :class="{'is-active': activeTab === 'tab' + (index + 1)}"
    @click.native="onClick(index)"
    layout 
    layout-margin 
    v-for="(item, index) in summaryList">
    <div class="cp-summary__icon">
      <i :class="['el-icon-' + item.icon ]"></i>
    </div>
    <div>
      <h4 class="cp-summary__title">{{item.title}}</h4>
      <vueCountTo :startVal='0' :endVal='item.number' :duration='3000'></vueCountTo>
    </div>
  </el-card>
</div>