<div>
  <el-card class="table-searchBar">
    <form-builder :model="query" :schema="querySchema">
      <el-form-item slot="suffix">
        <el-button @click="search(1)" type="primary">查询</el-button>
      </el-form-item>
    </form-builder>
  </el-card>

  <el-card style="margin-top: 15px" >
    <div layout layout-align="space-between center">
      
      <el-radio-group v-model="query.orderType">
        <el-radio-button label="air">飞机票订单</el-radio-button>
        <!-- <el-radio-button label="train">火车票订单</el-radio-button> -->
        <!-- <el-radio-button label="visa">签证订单</el-radio-button> -->
        <!-- <el-radio-button label="tour">旅行产品订单</el-radio-button> -->
      </el-radio-group>

      <el-button type="primary" @click="exportReport">导出</el-button>
    </div>

    <el-table style="width: 100%" :data="dataList" @row-click="onRowClick">
      <el-table-column
        type="index"
        width="50">
      </el-table-column>
      <el-table-column label="用户名" prop="userName">

      </el-table-column>
      <el-table-column label="账户ID" prop="phone">

      </el-table-column>
      <el-table-column label="订单号" prop="serialNo">

      </el-table-column>
      <el-table-column label="供应商订单Id" prop="ticketOrderId">

      </el-table-column>
      <el-table-column label="供应商" prop="sourceType">

      </el-table-column>
      <el-table-column label="出行日期" prop="startTime">

      </el-table-column>
      <el-table-column label="去程/回城" prop="travelType">

      </el-table-column>
      <el-table-column label="出发地/抵达地" prop="destination">

      </el-table-column>
      <el-table-column label="出行方式" prop="travelWay">

      </el-table-column>
      <el-table-column label="航班号/班次号" prop="flightNo">

      </el-table-column>
      <el-table-column label="交易类型" prop="tradeType">

      </el-table-column>
      <el-table-column label="票号" prop="ticketNos"></el-table-column>

      <el-table-column label="乘客" prop="passengerNames">

      </el-table-column>
      <el-table-column label="交易途径" prop="usageName">

      </el-table-column>
      <el-table-column label="流水金额" prop="usageAmount">

      </el-table-column>
      <el-table-column label="支出金额" prop="spendingAmount">

      </el-table-column>
      <el-table-column label="成本金额" prop="costAmount">

      </el-table-column>
      <!-- <el-table-column label="出票订单号" prop="ticketOrderId" v-if="query.orderType === 'airplane' || query.orderType === 'train'">

      </el-table-column>
      <el-table-column label="改签订单号" prop="changeOrderId" v-if="query.orderType === 'airplane' || query.orderType === 'train'">

      </el-table-column>
      <el-table-column label="退票订单号 prop="refundOrderId" v-if="query.orderType === 'airplane' || query.orderType === 'train'">

      </el-table-column>
      <el-table-column label="销售价" prop="saleAmount" v-if="query.orderType === 'airplane' || query.orderType === 'train'">

      </el-table-column> -->
      
      
      <el-table-column label="余额支付" prop="balancePay">
      </el-table-column>
      <el-table-column label="余额支付金额" prop="balanceAmount">
      </el-table-column>
      <el-table-column label="支付前余额" prop="beforePayBalance">
      </el-table-column>
      <el-table-column label="支付后余额" prop="afterPayBalance">
      </el-table-column>
      <el-table-column label="创建时间" prop="createTime">

      </el-table-column>
    </el-table>
    <el-pagination
      @current-change="search"
      layout="prev, pager, next"
      :total="total">
    </el-pagination>
  </el-card>

  <el-dialog
    title="交易详情"
    :visible.sync="dialogVisible"
    width="50%">
    <el-table :data="tradeList">
      <el-table-column label="航班号/班次号" prop="productName"></el-table-column>
      <el-table-column label="用途" prop="usageDetail"></el-table-column>
      <el-table-column label="费用" prop="price"></el-table-column>
    </el-table>
  </el-dialog>
</div>