@include b(wordpad) {
  overflow: auto;
  @include e(header) {
    span {
      margin-left: 1rem;
      color: #ccc;
    }
  }

  @include e(type) {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  @include e(submit) {
    .el-form-item__content {
      flex: 1 0 auto;
      text-align: center
    }
    .el-button {
      width: 20rem;
    }
  }
}