<div class="cp-wordpad">
  <header class="cp-wordpad__header">
    <p class="cp-wordpad__desc">
      选择模板 <span>(当前模板为: {{type}}报)</span>
    </p>
  </header>
  <div>
    <el-radio-group class="cp-wordpad__type"  size="medium" v-model="type">
      <el-radio-button label="日">日报</el-radio-button>
      <el-radio-button label="周">周报</el-radio-button>
      <el-radio-button label="月">月报</el-radio-button>
    </el-radio-group>

    <form-builder :options="options" :schema="schema" :model="model" @submit="submit"></form-builder>
  </div>
</div>