<div class="remark">
  <el-card>
    <searchBar>
      <template slot="suffix">
        <el-form-item>
          <el-select>
            <el-option label="1" value="1"></el-option>
          </el-select>
        </el-form-item>
      </template>
    </searchBar>
  </el-card>
  
  <el-tabs type="border-card" style="margin-top: 15px">
    <el-tab-pane label="未披阅">
      <el-table>
        <!-- <el-table-column v-for="(title, index) in userTable.tableTitle"
          :key="index"
          :prop="title.prop"
          :label="title.label"></el-table-column> -->
      </el-table>
    </el-tab-pane>
    <el-tab-pane label="已披阅">
      <el-table>
        <!-- <el-table-column v-for="(title, index) in userTable.tableTitle"
          :key="index"
          :prop="title.prop"
          :label="title.label"></el-table-column> -->
      </el-table>
    </el-tab-pane>

    <el-tab-pane label="未提交">
      <el-table>
        <!-- <el-table-column v-for="(title, index) in userTable.tableTitle"
          :key="index"
          :prop="title.prop"
          :label="title.label"></el-table-column> -->
      </el-table>
    </el-tab-pane>
  </el-tabs>
</div>