<div class="app-container cp-auth">
  <el-button @click="visible = true" type="primary">添加权限</el-button> 
  <el-tree class="filter-tree" :indent="90" :data="treeNode" :props="defaultProps" :expand-on-click-node="false" default-expand-all ref="tree2">
    <span class="custom-tree-node" slot-scope="{ node, data }">
      <span @click="hint(data)">{{ node.label }}</span>
    </span>
  </el-tree>

  <cp-popup :visible="visible" @close="visible = false">
    <FormBuilder :rules="rules" slot :model="model" :schema="schema" @submit="submit" :options="options" ref="auth_form"></FormBuilder>
  </cp-popup>
</div> 